body {
    background-color: rgb(141, 180, 62);
}

.mainCont {
    text-align: center;
    background-color:rgb(133, 228, 121);
    width: 70%;
    height: auto;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.mainCont, img {
    border: 5px solid whitesmoke;
}

p {
    text-align: left;
    margin-left: 25px;
}

h1, h2, h3 {
    color: rgb(255, 72, 0);
}

h2, h3 {
    text-align: left;
    margin-left: 10px;
}

img {
    height: 300px;
    width: auto;
}

a {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 0px;
    color: orangered;
    font-weight: bold;
    background-color: rgb(26, 224, 86);
    padding: 10px;
    border: 2px solid white;
    width: 181.34px;
    text-decoration: none; 
}

a:hover {
    background-color: rgb(76, 241, 126);
}

.home {
    text-align: center;
    width: 120px;
    margin: 5px 0px;
}

.homeButtons {
    list-style: none;
}

ol li, ul li {
    text-align:left;
    list-style-position: inside;
}